---
layout: default
---

{% if site.blog_description %}
{% include blog_description.html %}
{% endif %}
<div class="posts">
{% for post in paginator.posts %}
  <article class="post">
    <img class="cover" src="{{ site.baseurl }}{{ site.covers }}{{ post.title | slugify: 'pretty' }}.jpg" style="width:100%">
    <div class="w3-container">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <time class="w3-opacity" datetime="{{ page.date | date_to_xmlschema }}">
        {{ post.date | date: "%B, %Y" }}
      </time>

      {{ post.excerpt }}

      <div class="w3-row">
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more w3-button w3-right w3-border">Read More</a>
      </div>
    </div>
  </article>
{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
{% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&lt;-- Previous</a>
{% else %}
  <span>&lt;-- Previous</span>
{% endif %}

{% for page in (1..paginator.total_pages) %}
  {% if page == paginator.page %}
    <em>{{ page }}</em>
  {% elsif page == 1 %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
  {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
  {% endif %}
{% endfor %}

{% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next --&gt;</a>
{% else %}
  <span>Next --&gt;</span>
{% endif %}
</div>
{% endif %}