<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" xml:lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--[if IE]>
      <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    {% feed_meta %}
    {% seo %}
  </head>

  <body>
    <header role="banner">
      <div class="container">
        <h1><a href="{{ site.baseurl }}/" class="site-name">{{ site.title | default: site.github.repository_name }}</a></h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% include navigation.html %}
      </div>
    </header>
    <div class="container">
      <main id="main_content" role="main">
        {{ content }}
      </main>
    </div>
    {% include footer.html %}

    <script src="{{ 'assets/vendor/gallery/js/blueimp-gallery.min.js' | relative_url }}"></script>
    <script>
      document.getElementById('photos').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = { index: link, event: event },
          photos = this.getElementsByTagName('a');
        blueimp.Gallery(photos, options);
      };
    </script>
    <script>document.addEventListener('contextmenu', event => event.preventDefault());</script>
    {% if site.google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
  </body>
</html>